<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed loader</title>
</head>
<body>
<h1>
    Here you can load your data from remote rss-source:
</h1>
<table>
    <tr>
        <td>
            <label>URL:</label>
        </td>
        <td>
            <input id="feedSource" type="url"/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Rule:</label>
        </td>
        <td>
            <textarea  id="feedRule"  rows="30" cols="60"></textarea>
        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td>
            <button onclick="loadData()">Submit</button>
        </td>
    </tr>
</table>

</body>
</html>